EMAIL_USER=manger6700@gmail.com
EMAIL_PASS=tdaqsjuwyraxsngv
PORT=3001
MONGODB_URI=mongodb+srv://Abhinav:GvtnWrNxzSe2LbUt@cluster0.2xmhyxi.mongodb.net/leave_management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=a0ced5ddaecddd2a
